<div class="container">
    <mat-card>
        <mat-card-title>
            <button mat-icon-button (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            Editar transportista
        </mat-card-title>
        <mat-card-content>
            <form [formGroup]="shipperForm" (ngSubmit)="onSubmit()">
                <mat-form-field>
                    <mat-label>Nombre del transportista</mat-label>
                    <input matInput formControlName="companyName" required>
                    <mat-error *ngIf="shipperForm.controls['companyName'].hasError('required')">Este campo es
                        obligatorio</mat-error>
                    <mat-error *ngIf="shipperForm.controls['companyName'].hasError('whitespace')">No puede contener solo
                        espacios en blanco</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Teléfono</mat-label>
                    <input matInput formControlName="phone" />
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" [disabled]="!shipperForm.valid">Guardar</button>
                <button mat-raised-button type="button" (click)="cancel()">Cancelar</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>